/* general */
*{padding:0;margin:0;box-sizing:border-box;list-style:none;text-transform:capitalize;}
a{text-decoration:none;}
:root{ --maincolor: #7b5244;--subcolor:#333}

/* common */
.container{width:80%;margin:auto;}
.section-title{font-size: 30px;font-weight: 800;text-align: center;}
.section-title-line{background-color: brown;width:100px;height:5px;margin:10px auto;transition:.5s}
.title-container{margin:auto;width:240px;text-align:center}
.title-container:hover .section-title-line{width:200px}
.section-title-padding{padding-top: 50px;}

/* header */

.header-content{display:flex;justify-content:space-between;align-items:center;margin-top:20px;}
header-logo{width:200px;}
.header-content ul li {display:inline-block}
.nav-lists a,.header-icon i{color:var(--subcolor) }
.nav-lists > li > a{font-size:20px;padding:10px  15px;display: block;position: relative;}
.nav-lists > li > a::before{content:"";position: absolute;top:0;left:0;width:97%;height:100%;border-width:0 2px;border-color: var(--maincolor); border-style:solid;transform: scale3d(1,0,1); transition:transform 0.2s;}
.nav-lists > li > a:hover:before{transform:scale3d(1,1,1)}
.nav-lists > li > a::after{content:"";position: absolute;top:0;left:0; width:100%;height:90%;border-width:2px 0px;border-color: var(--maincolor); border-style:solid;transform: scale3d(0,1,1);transition:transform .2s;transform-origin:left;}
.nav-lists > li > a:hover:after{transform:scale3d(1,1,1);transition-delay: .2s;}
.header-icon li{margin:0 15px}
.header-icon li:last-child i{position: relative;}
.header-icon li:last-child i::after{content: "0";position:absolute;bottom:0;right:-11px;font-size:15px;border-radius:50%;padding:4px;background:var(--maincolor);color:white}
.header-icon{position: relative;}
/* dropdown */
.dropdown{position: relative;}
.dropdown-menu{position: absolute;width: 400px ;padding:20px 25px 10px 15px;margin-top:12px;border: 1px solid var(--maincolor);background-color: white;transform: scale(0);visibility: hidden;opacity: 0; transition: transform .5s;}
.dropdown:hover .dropdown-menu{transform: scale(1);visibility: visible;opacity: 1;}
.dropdown-menu ul {display: table-cell;text-align: left}
.dropdown-menu ul li a{display: block;margin-bottom: 12px;font-size: 18px;color: var(--maincolor);}
.dropdown-menu ul li:first-child a{border-bottom: 1px dotted var(--maincolor);;}
/* main-section */
.main-img{width:100%;margin-top: 40px;}

/* chairs-collection-section */

.modern-chairs-collection{display:flex;margin-top:30px;justify-content: space-between;}
.modern-chair{position: relative;width:23%}
.modern-chair img{width:100%}
.popular{color:rgb(126, 118, 118);font-size: 18px;}
.icon-container{width:100%}
.hidden-icon{padding: 2px 10px;background-color: brown;color: white;font-size: 24px;position: absolute;bottom: 0;right:0;opacity:0;visibility:hidden}
.modern-chair:hover .hidden-icon{visibility:visible;opacity:1}


/* article-section */
.article-content{display:flex;justify-content:space-between;margin-top:40px;height:300px;}
.section-paragraph{background-color:rgb(241, 235, 235);width:50%;padding:20px 3px 0 30px ;position:relative}
.section-paragraph i{position: absolute;font-size: 35px;color: var(--maincolor);}
.title-content{margin-left: 40px;}
.section-paragraph p{font-size:18px;line-height:1.6 ;word-break:break-all;}
.line1,.line2,.line3{position:absolute;bottom:10px;;width:60px;height:3px;background-color: rgb(90, 62, 62);}
.line1{right:5px;}
.line2{right:85px;}
.line3{right:165px;}
.discount-offer{width:23%;height;position:relative;}
.discount-offer img{width:100%;height:100%;transition: transform 0.5s;}
.discount-offer img:hover{transform:scale(1.1)}
.wordin-img{position:absolute;top:20px;left:20px}
.pargin-img{color: var(--maincolor);}
.sprites{display: flex;justify-content: space-between;margin-top: 30px;}
.sprite-item{flex:1;text-align: center;border-right: 1px solid var(--maincolor);;}
.sprite-item:last-child{border-right:0;}
.sprite-icon{background-image: url(../images/service-icon.png);height:50px;background-repeat: no-repeat;transition: .5s}
.sprite-icon-1{background-position: center 5px;}
.sprite-icon-2{background-position: center -180px;}
.sprite-icon-3{background-position: center -366px;}
.sprite-icon-4{background-position: center -549px;}
.sprite-icon-5{background-position: center -734px;}
.sprite-item:hover .sprite-icon-1{background-position: center -86px;}
.sprite-item:hover .sprite-icon-2{background-position: center -270px;}
.sprite-item:hover .sprite-icon-3{background-position: center -458px;}
.sprite-item:hover .sprite-icon-4{background-position: center -640px;}
.sprite-item:hover .sprite-icon-5{background-position: center -825px;}
.sprite-item h3{margin: 3px 0;}
.hr-line{margin-top:40px}



/* featured-products */
.products-name{display:flex;justify-content: center;margin-top: 40px;font-size:18px;}
.products-name h4{margin:0 0 40px 40px}
.products-container{display:flex;justify-content:space-between;}
.product-description{width:30%;position:relative}
.product-description img{width:100%;}
.products-overlay{position:absolute;top:0;left:0;transform:scaleX(0);transition:transform .5s}
.products-icon{position: absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.products-icon li{height:40px;width:40px;background:var(--maincolor);display:inline-block;color:white;text-align: center;}
.products-icon i{line-height:40px;}
.product-description:hover .products-overlay{transform:scaleX(1)}
.star-icon{margin:7px 0 0 0}
.star-icon i{color:yellow}
.product-description .star-icon .b-star{color:black}
.product-description p{margin:7px 0 3px 0}
.product-description h4{margin-bottom:30px;font-size:20px;font-weight: 600;}
